---

---

<div class="flex gap-10 my-2 mx-5 text-md text-gray-700 justify-between">
  <ol class="flex items-center whitespace-nowrap" aria-label="Breadcrumb">
    <li class="flex">
      <a class="flex gap-2 items-center hover:text-blue-600" href="#">
        Home
      </a>
      <span class="material-icons mx-5 my-auto">chevron_right</span>
    </li>
    <li class="flex">
      <a class="flex items-center hover:text-blue-600" href="#">
        <span class="material-icons shadow-sm border rounded-md p-1">more_vert</span>
      </a>
      <span class="material-icons mx-5 my-auto">chevron_right</span>
    </li>
    <li class="flex">
      <a class="flex gap-2 items-center hover:text-blue-600" href="#">
        Episode
      </a>
    </li>
  </ol>

  <input type="text" class="max-w-md px-5 block w-full border rounded-full focus:border-blue-500 focus:ring-blue-500 dark:bg-slate-900 dark:border-gray-700 shadow-sm" placeholder="Search">

  <div class="flex gap-2">
    <button type="button" class="whitespace-nowrap p-2 inline-flex justify-center items-center gap-2 rounded-md border font-medium shadow-sm align-middle hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-white focus:ring-blue-600 transition-all text-sm dark:bg-slate-900 dark:hover:bg-slate-800 dark:border-gray-700 dark:hover:text-white dark:focus:ring-offset-gray-800">
      <span class="material-icons-round">bolt</span>
    </button>

    <button type="button" class="whitespace-nowrap p-2 inline-flex justify-center items-center gap-2 rounded-md border font-medium shadow-sm align-middle hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-white focus:ring-blue-600 transition-all text-sm dark:bg-slate-900 dark:hover:bg-slate-800 dark:border-gray-700 dark:hover:text-white dark:focus:ring-offset-gray-800">
      <span class="material-icons-round">menu</span>
    </button>

    <button type="button" class="whitespace-nowrap py-2 px-4 inline-flex justify-center items-center gap-2 rounded-md border font-medium shadow-sm align-middle hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-white focus:ring-blue-600 transition-all text-sm dark:bg-slate-900 dark:hover:bg-slate-800 dark:border-gray-700 dark:hover:text-white dark:focus:ring-offset-gray-800">
      <span class="material-icons-round">person</span>
      Log in
    </button>
  </div>
</div>
